################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngulatorWebAPI/.vs/AngulatorWebAPI/FileContentIndex
